.myeditor {
    outline: none;
    border: 1px solid lightgray;
    min-height: 1em;
    position: relative;

    & > * {
        pointer-events: none;
    }

    &.focused {
        border: 1px solid lightskyblue;
    }
}

.qwer {
    display: inline;
}

.caret {
    width: 1px;
    background: black;
    height: 17px;
    position: absolute;
}